@addTagHelper  *,Microsoft.AspNetCore.Mvc.TagHelpers
@model CookieDen.ViewModels.HomeViewModel

<h1>@Model.Title</h1>
<br />
@foreach (var cookie in Model.Cookies)
{
    <div>
        <div class="img-thumbnail">
            <img src="@cookie.ImageUrl" alt="" />
            <div class="figure-caption">
                <h3 class="text-left" style="position:absolute">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@cookie.Id"> @cookie.Name </a></h3>
                <h3 class="text-right">@cookie.Price.ToString("c")</h3>
                <p>@cookie.TinyDescription</p>
            </div>
        </div>
    </div>
}